@charset "UTF-8";

/* CSS Document */


/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px
}

body {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 18pt;
    background-color: black;
}

h1, h2 {
    color: white;
    margin-left: 19%;
    padding-top: 25px;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 15pt;
}

#mountain, #interior, #description {
    position: absolute;
    margin: -50px 0 0 -50px;
    left: 20%;
    top: 20%;
}

p {
    padding: 5%;
    padding-top: 30%;
}

#mountain1:hover, #mountain2:hover, #mountain3:hover, #mountain4:hover, #mountain5:hover, #mountain6:hover, #mountain7:hover, #mountain8:hover {
    opacity: 0;
    shape-margin: none;
}

#sundes, #birddes, #spacedes, #disneydes, #hawaiides, #falldes, #lakedes, #peades {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 350px;
    background-color: white;
    visibility: hidden;
}

#mountain1, #mountain2, #mountain3, #mountain4, #mountain6, #mountain7, #mountain8, #sun, #bird, #space, #disney, #fall, #lake, #pea, #sundes, #birddes, #spacedes, #disneydes, #falldes, #lakedes, #peades {
    float: left;
    border: 25px solid black;
    text-align: center;
}

#mountain1, #mountain2, #mountain3, #mountain4, #mountain5, #mountain6, #mountain7, #mountain8, #sun, #bird, #space, #disney, #fall, #lake, #pea, #hawaii {
    cursor: pointer;
    line-height: 0;
    display: block;
}

#mountain5, #hawaii, #hawaiides {
    clear: both;
    float: left;
    border: 25px solid black;
    text-align: center;
}

aside p {
    position: relative;
    text-align: left;
}

aside .close {
    text-align: right;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    font-size: 25pt;
    margin: auto;
    left: 19%
}

a:link {
    color: white;
}

a:visited {
    color: gray;
}
