@charset "UTF-8";
* {
margin: 0;
padding: 0;
}

body{
  text-align: center;
font-family: 'Share Tech Mono', monospace;
background: url(twinkle_twinkle.png) repeat;
background-size: contain;
}
header, p{
  width:800px;
  margin:36px auto;
  color: #1EFF00;
  line-height: 30px;
}
